:root {
  --gray-text: #7D7987;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1308px;
  padding: 0 30px;
}

.container-smaller {
  max-width: 1180px;
  padding: 0 30px;
}

.underline:after {
  content: "";
  position: absolute;
  max-width: 56px;
  width: 100%;
  border-radius: 2px;
  height: 2px;
  background: #000;
  bottom: -26px;
  left: 0;
}

.title-site {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

.btn {
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #458FF6;
  transition: 0.3s;
}
.btn.btn-filled {
  background: #458FF6;
  color: #fff;
}
.btn.btn-solid {
  background: none;
  color: #458FF6;
}
.btn:hover {
  opacity: 0.8;
}

.header {
  padding: 56px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .burger {
  z-index: 3;
  display: none;
  cursor: pointer;
  position: relative;
  background: url("../assets/navbar/burger.svg") center no-repeat;
  width: 26px;
  height: 26px;
}
.header .navbar {
  display: flex;
}
.header .navbar .navbar-items a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
}
.header .navbar .navbar-items:not(:last-child) {
  margin-right: 40px;
}
.header .navbar .navbar-items.active a {
  font-weight: 700;
  opacity: 1;
}

.hero {
  background: url("../assets/hero/element.svg") no-repeat;
  margin-bottom: 190px;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero .container .hero-content {
  padding-top: 106px;
  max-width: 445px;
}
.hero .container .hero-content .hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
}
.hero .container .hero-content .hero-description {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: var(--gray-text);
  margin-bottom: 45px;
}
.hero .container .hero-illustration {
  width: 100%;
  max-width: 693px;
}

.services {
  background: url("../assets/services/bg-elements.svg") no-repeat 0% 0%;
  margin-bottom: 220px;
}
.services .container.container-smaller .services-title {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.services .container.container-smaller .services-title.underline:after {
  left: 50%;
  transform: translateX(-50%);
}
.services .container.container-smaller .services-description {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray-text);
  margin-bottom: 80px;
}
.services .container.container-smaller .card-list {
  display: grid;
  grid-gap: 34px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 69px;
}
.services .container.container-smaller .card-list .card {
  padding: 43px 43px 47px 23px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  border-radius: 20px;
}
.services .container.container-smaller .card-list .card .card-logo {
  margin-bottom: 18px;
}
.services .container.container-smaller .card-list .card .card-content {
  padding-left: 15px;
}
.services .container.container-smaller .card-list .card .card-content .card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
}
.services .container.container-smaller .card-list .card .card-content .card-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray-text);
}
.services .container.container-smaller .btn-wrapper {
  display: flex;
  justify-content: center;
}

.providers .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.providers .container .providers-illustration {
  width: 100%;
  max-width: 650px;
}
.providers .container .providers-content {
  padding-top: 47px;
  max-width: 400px;
}
.providers .container .providers-content .providers-title {
  position: relative;
  margin-bottom: 59px;
}
.providers .container .providers-content .providers-title.underline:after {
  left: 0;
}
.providers .container .providers-content .providers-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 37px;
  color: var(--gray-text);
}

.our-app {
  background: url("../assets/our-app/element.svg") no-repeat 100% 0%;
  padding-top: 241px;
  margin-bottom: 266px;
}
.our-app .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-app .container .our-app-content {
  padding-top: 36px;
  max-width: 420px;
}
.our-app .container .our-app-content .our-app-title {
  position: relative;
  margin-bottom: 63px;
}
.our-app .container .our-app-content .our-app-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray-text);
  margin-bottom: 40px;
}
.our-app .container .our-app-content .our-app-btn svg {
  margin-left: 14px;
}
.our-app .container .our-app-illustration {
  width: 100%;
  max-width: 665px;
}

.testimonials {
  margin-bottom: 216px;
}
.testimonials .container.container-smaller {
  background: url("../assets/testimonials/element-1.svg") no-repeat 0% 80%;
}
.testimonials .container.container-smaller .slider {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  color: #fff;
  padding: 64px 118px 79px;
  margin-bottom: 42px;
}
.testimonials .container.container-smaller .slider .testimonials-title {
  text-align: center;
  position: relative;
  margin-bottom: 93px;
}
.testimonials .container.container-smaller .slider .testimonials-title.underline:after {
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}
.testimonials .container.container-smaller .slider .testimonial {
  display: none;
  justify-content: space-between;
}
.testimonials .container.container-smaller .slider .testimonial .author-block {
  display: flex;
  align-items: center;
}
.testimonials .container.container-smaller .slider .testimonial .author-block .author-avatar {
  margin-right: 30px;
}
.testimonials .container.container-smaller .slider .testimonial .author-block .author-info {
  display: flex;
  flex-direction: column;
}
.testimonials .container.container-smaller .slider .testimonial .author-block .author-info .author-fullname {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 22px;
}
.testimonials .container.container-smaller .slider .testimonial .author-block .author-info .author-description {
  opacity: 0.85;
}
.testimonials .container.container-smaller .slider .testimonial .author-quote {
  padding-top: 11px;
  max-width: 420px;
  font-size: 19px;
  line-height: 30px;
  opacity: 0.9;
}
.testimonials .container.container-smaller .slider .testimonial.active {
  display: flex;
}
.testimonials .container.container-smaller .slider-nav {
  display: flex;
  justify-content: center;
}
.testimonials .container.container-smaller .slider-nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials .container.container-smaller .slider-nav .nav-wrapper .nav-items {
  margin: 0 90px;
  display: flex;
}
.testimonials .container.container-smaller .slider-nav .nav-wrapper .nav-items .nav-item {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #5B9BF3;
  opacity: 0.3;
}
.testimonials .container.container-smaller .slider-nav .nav-wrapper .nav-items .nav-item:not(:last-child) {
  margin-right: 18px;
}
.testimonials .container.container-smaller .slider-nav .nav-wrapper .nav-items .nav-item.active {
  opacity: 1;
}
.testimonials .container.container-smaller .slider-nav .slider-arrow {
  cursor: pointer;
  fill: #458FF6;
  opacity: 0.4;
}
.testimonials .container.container-smaller .slider-nav .slider-arrow.available {
  opacity: 1;
}

.articles {
  margin-bottom: 200px;
}
.articles .container.container-smaller .articles-title {
  text-align: center;
  position: relative;
  margin-bottom: 79px;
}
.articles .container.container-smaller .articles-title.underline:after {
  left: 50%;
  transform: translateX(-50%);
}
.articles .container.container-smaller .card-list {
  display: grid;
  grid-gap: 34px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 69px;
}
.articles .container.container-smaller .card-list .card {
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.articles .container.container-smaller .card-list .card .card-img {
  border-radius: 20px 20px 0px 0px;
  display: block;
  width: 100%;
  height: 240px;
}
.articles .container.container-smaller .card-list .card .card-content {
  padding: 24px 52px 35px 33px;
}
.articles .container.container-smaller .card-list .card .card-content .card-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 12px;
}
.articles .container.container-smaller .card-list .card .card-content .card-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray-text);
  margin-bottom: 25px;
}
.articles .container.container-smaller .card-list .card .card-content .card-btn {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
}
.articles .container.container-smaller .card-list .card .card-content .card-btn svg {
  margin-left: 14px;
  fill: currentColor;
}
.articles .container.container-smaller .btn-wrapper {
  display: flex;
  justify-content: center;
}

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer .container {
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: 390px 1fr 1fr 1fr;
  column-gap: 145px;
}
.footer .container .company-info .company-logo {
  margin-bottom: 16px;
}
.footer .container .company-info .company-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .company-info .company-copyrights {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.footer .container .nav-block .block-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}
.footer .container .nav-block .block-list .list-item a {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

@media screen and (max-width: 1200px) {
  .hero {
    background: none;
  }
  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
  .hero .container .hero-content {
    max-width: none;
  }

  .services {
    background: none;
  }

  .providers {
    background: none;
  }
  .providers .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
  .our-app {
    background: none;
  }
  .our-app .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
  }
  .our-app .container .our-app-content {
    max-width: none;
  }

  .testimonials .container.container-smaller {
    background: none;
  }

  .footer .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1025px) {
  .hero {
    margin-bottom: 80px;
  }
  .hero .container {
    grid-gap: 20px;
    align-items: center;
  }

  .services {
    margin-bottom: 80px;
  }
  .services .container.container-smaller .card-list {
    grid-template-columns: repeat(2, 0.4fr);
    justify-content: center;
  }

  .providers {
    margin-bottom: 80px;
  }
  .providers .container {
    align-items: center;
  }

  .our-app {
    padding-top: 0;
    margin-bottom: 80px;
  }
  .our-app .container {
    grid-gap: 20px;
    align-items: center;
  }

  .testimonials {
    margin-bottom: 80px;
  }
  .testimonials .container.container-smaller {
    padding-right: 40px;
    padding-left: 40px;
  }
  .testimonials .container.container-smaller .slider {
    padding: 20px 40px;
    min-height: 400px;
  }
  .testimonials .container.container-smaller .slider .testimonials-title {
    margin-bottom: 40px;
  }
  .testimonials .container.container-smaller .slider .testimonial {
    flex-direction: column;
  }
  .testimonials .container.container-smaller .slider .testimonial .author-block {
    display: flex;
    justify-content: center;
    column-gap: 160px;
    margin-bottom: 40px;
  }
  .testimonials .container.container-smaller .slider .testimonial .author-quote {
    max-width: none;
    padding: 0 40px;
  }

  .articles {
    margin-bottom: 80px;
  }
  .articles .container.container-smaller .card-list {
    justify-content: center;
    grid-template-columns: repeat(1, 0.45fr);
  }
}
@media screen and (max-width: 769px) {
  .hero .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero .container .hero-content {
    display: grid;
    grid-template-columns: repeat(1, 0.8fr);
  }
  .hero .container .hero-illustration {
    padding: 0 40px;
  }

  .providers .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .providers .container .providers-illustration {
    padding: 0 40px;
    order: 1;
  }
  .providers .container .providers-content {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(1, 0.8fr);
  }

  .our-app .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
  .our-app .container .our-app-illustration {
    padding: 0 40px;
  }
  .our-app .container .our-app-content {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(1, 0.8fr);
  }

  .testimonials .container.container-smaller {
    padding: 0;
  }
  .testimonials .container.container-smaller .slider {
    border-radius: 0;
    min-height: 490px;
  }
  .testimonials .container.container-smaller .slider .testimonial .author-quote {
    padding: 0;
  }

  .articles .container.container-smaller .card-list {
    grid-template-columns: repeat(1, 0.5fr);
  }
  .articles .container.container-smaller .card-list .card .card-img {
    overflow: hidden;
    height: auto;
  }

  .services .container.container-smaller .card-list {
    grid-template-columns: repeat(1, 0.7fr);
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .hero .container .hero-illustration {
    padding: 0;
  }

  .providers .container .providers-illustration {
    padding: 0;
  }

  .services .container.container-smaller .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .services .container.container-smaller .card-list .card .card-content .card-title {
    line-height: 42px;
  }

  .articles .container.container-smaller .card-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials .container.container-smaller .slider {
    padding: 20px;
    min-height: 610px;
  }
  .testimonials .container.container-smaller .slider .testimonial .author-block {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
  }
  .testimonials .container.container-smaller .slider .testimonial .author-block .author-avatar {
    width: 100px;
    margin-right: 0;
  }
  .testimonials .container.container-smaller .slider .testimonial .author-block .author-info {
    text-align: right;
  }
  .testimonials .container.container-smaller .slider-nav .nav-wrapper .nav-items {
    margin: 0 50px;
  }

  .footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .header {
    padding: 20px 0;
  }
  .header .container .burger {
    display: inline-block;
  }
  .header .container .burger.active {
    position: relative;
    background: url("../assets/navbar/burger-active.svg") center no-repeat;
  }
  .header .container .navbar {
    position: absolute;
    z-index: 2;
    left: 0;
    transform: translateX(-200%);
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    flex-direction: column;
  }
  .header .container .navbar .navbar-items {
    margin: 0;
    width: 100%;
    height: 40px;
  }
  .header .container .navbar .navbar-items:first-child {
    margin-top: 100px;
  }
  .header .container .navbar.active {
    transform: none;
  }
}

/*# sourceMappingURL=styles.css.map */
