@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

html {
    font-size: 18px;
}

body {
    font-weight: 400;
    font-family: Mulish, sans-serif;
}